.left {
  float: left;
  width: 20%;
  background: pink;
  margin-bottom: 100px;
  margin-right: 30px;
}
.left a {
  padding: 5px 10px;
  background: blue;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  position:relative;
  transition: box-shadow 0.5s;
}
.left a:active, .left a.active {
  top: 3px;
  box-shadow: none;
  transition: box-shadow 0.5s;
}

.right {
  float: right;
  width: 70%;
  background: #eee;
}

footer {
  clear: both;
}
