<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/styles.css">
  <title>Ember Test</title>
</head>
<body>

<script type="text/x-handlebars" data-template-name="application">
    <div class="navbar">
        <ul>
            {{#link-to 'index' tagName="li"}}Homepage{{/link-to}}
            {{#link-to 'about' tagName="li"}}About{{/link-to}}
            {{#link-to 'monkey' tagName="li"}}Monkey{{/link-to}}
            {{#link-to 'products' tagName="li"}}Products{{/link-to}}
        </ul>
        <hr>
    </div>
    <div class="container">{{outlet}}</div>
    <footer class="container">
      <hr>
      footer
    </footer>
</script>

<script type="text/x-handlebars" data-template-name="index">
    <h1>Welcome to the flint &amp; flame!</h1>
</script>

<script type="text/x-handlebars" data-template-name="about">
    <h1>About the flint &amp; flame.</h1>
</script>

<script type="text/x-handlebars" data-template-name="monkey">
    <h1>Monkey</h1>
</script>

<script type="text/x-handlebars" data-template-name="products">
  <div class="left">
    <h1>Products</h1>
    {{#each}}
    {{#link-to 'product' this tagName='a'}}{{title}}{{/link-to}}
    {{/each}}
  </div>
    <div class="right">
      {{outlet}}
    </div>
</script>

<script type="text/x-handlebars" data-template-name="products/index">
  <pre>here's your list yo</pre>
</script>

<script type="text/x-handlebars" data-template-name="product">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Buy for £{{price}}</p>
</script>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/ember/ember.debug.js"></script>
<script src="bower_components/ember/ember-template-compiler.js"></script>
<script src="http://builds.emberjs.com/tags/v1.0.0-beta.18/ember-data.js"></script>
<script src="bower_components/handlebars/handlebars.js"></script>
<script src="js/app.js"></script>

</body>
</html>
